
<div class="jumbotron-fluid">
  <h1>Create your event !</h1>                    
  <p>Welcome to Eventbrite, let's party !</p>                
  <%= link_to "Create event", new_event_path, class:"btn btn-primary" %>        
</div>