

 html body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 90vx;
  min-height: 100vh;
  background-color: rgb(40, 40, 40) ;
  color: rgb(250, 250, 250);
 }

.logo{
    color: #FFF;
    background-color: rgb(40, 40, 40);
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #1CFFF7, 0 0 30px #1CFFF7, 0 0 20px #1CFFF7, 0 0 15px #1CFFF7, 0 0 20px #1CFFF7;
}

.btn{
    
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #1CFFF7, 0 0 30px #1CFFF7, 0 0 20px #1CFFF7, 0 0 15px #1CFFF7, 0 0 20px #1CFFF7;
    margin: 20px;
}

div {
  padding: 10px ;
}

.forms {
    padding-left: 26%;
    width: 120vx;
    min-height: 70vh;
    margin: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}  
.h3new {
    margin-top: -34px;
    margin-bottom: 26px;
}